<?xml version="1.0"?>
<!--
@author Krish Technolabs
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="admin">
        <route id="ktpl_travelquote" frontName="ktpl_travelquote">
            <module name="Ktpl_Travelquote" />
        </route>
    </router>
</config>