<?xml version="1.0"?>
<!--
@author Krish Technolabs
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="KTPL_Admin::data" title="Admin Logs" module="KTPL_Admin" sortOrder="74" resource="KTPL_Admin::data"
             action="ktpl_admin/adminlog/index" />
    </menu>
</config>
