<?xml version="1.0"?>
<!--
@author Krish Technolabs
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Ktpl_Base::ktpl" title="Ktpl" module="Ktpl_Base" sortOrder="51" resource="Ktpl_Base::ktpl" />
        <add id="Ktpl_Managecomplaints::managecomplaints_list" title="Manage Complaints" module="Ktpl_Managecomplaints"
             sortOrder="10" action="ktpl_managecomplaints/action/index" resource="Ktpl_Managecomplaints::managecomplaints_list"
             parent="Ktpl_Base::ktpl"/>
        <add id="Ktpl_Travelquote::travelquote_list" title="Travel Quote" module="Ktpl_Travelquote"
             sortOrder="20" action="ktpl_travelquote/action/index" resource="Ktpl_Travelquote::travelquote_list"
             parent="Ktpl_Base::ktpl"/>
    </menu>
</config>
